/* *****commons***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *****header******/


/* *****main******/


.contenitore{
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.box {
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 10px;
}

.box {
    /* background-color: yellow; */
    position: relative;
    height: 700px;
}

.uomo{
    width: 100%;
    height: 600px;
    object-fit:cover;
}

#prezzo{
    color: red;
}

.maius{
    text-transform: uppercase;
}

/* .box:hover {
    background-color: blue;
}  */

/* *****footer******/

/* *****debug******/

/* .container.debug {
    height: 600px;
    background-color: lightgrey;
} */

/* .debug .box {
    height: 700px;
} */


