/* *****commons***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* *****header******/


/* *****main******/


.contenitore{
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.box {
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 10px;
}

.box {
    /* background-color: yellow; */
    position: relative;
    height: 700px;
}

.uomo{
    width: 100%;
    height: 600px;
    object-fit:cover;

}

.img-hover{
    width: 100%;
    height: 600px;
    object-fit:cover;
    display: none;
}  

.box:hover .uomo{
    display:none
}

.box:hover .img-hover{
    display: inline-block;
}

#prezzo{
    color: red;
}

.maius{
    text-transform: uppercase;
    font-size: 20px;
}

.rosso{
    width: 30px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom:120px;
    background-color: red;
    font-size: 15px;
    text-align: center;
    color: white;
}

.verde{
    width:83px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 120px;
    left: 35px;
    background-color: green;
    font-size: 15px;
    text-align: center;
    color: white;
}

.cuore{
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    background-color: white;
    text-align:center;
    left: 330px;
    top: 20px;
}

/* .box:hover {
    background-color: blue;
}  */

/* *****footer******/

/* *****debug******/

/* .container.debug {
    height: 600px;
    background-color: lightgrey;
} */

/* .debug .box {
    height: 700px;
} */

/* ****Inserendo i div riguardanti sconto/Sostenibilità/cuore,
    mi si sfasano tutti quelli dopo il primo.Ho provato di tutto,(position,z-index ecc...)
    non capisco dove sia l'errore.**** */